@charset "UTF-8";
/* l'effet de scroll */
html {
  scroll-behavior: smooth;
}

/* création des variables des police et des couleurs */
:root {
  --mainpurple: #825E7A;
  --mainyellow: #efab00;
  --secondpurple: rgba(130, 126, 154, .9);
  --fonttitle: "Archivo Black", sans-serif;
  --fonttext: "Roboto", sans-serif;
}

body {
  font-family: var(--fonttext);
}

#navbarNav {
  margin-left: 6rem;
}

.logo-yummy {
  position: fixed;
  z-index: 1050;
}

.navbar {
  background-color: rgba(248, 249, 250, 0.9);
}
.navbar a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bolder;
  margin-right: 2rem;
  color: #000;
}

/* la section à propos */
#banner {
  background-image: url("../img/veggi-background.jpg");
}

#programming {
  background-image: url("../img/purple-background.jpg");
}

/* l'effet paralax pour deux images */
#programming,
#banner {
  min-height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* bannière et le descriptif */
.about {
  width: 35vw;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 25rem auto 0.5rem;
  border-radius: 2rem;
  font-size: 1.1rem;
}

.logo-food {
  color: var(--mainyellow);
}

/* la barre de recherche: input #searchBar et icone de recherche */
#searchBar {
  height: 3rem;
  border: 1px solid var(--mainpurple);
  border-radius: 1rem;
}
#searchBar:focus {
  outline: none;
}

label,
input,
.icon {
  width: 30vw;
}

label {
  font-family: var(--fonttitle);
  font-size: 1.5rem;
}

.fa-search {
  position: relative;
  font-size: 1.5rem;
  z-index: 1;
  top: 3.4rem;
  padding-right: 0.5rem;
  color: var(--mainpurple);
}

/* Styliser les cartes */
.card-title {
  height: 4rem;
}

.card {
  border: 1px solid #91a3b0;
  border-radius: 1rem;
}
.card:hover {
  scale: 1.01;
}

.card-img-top {
  border-radius: 1rem 1rem 0 0;
}

/* la div popup et ses différentes parties: heading, title, body, footeret une icone pour fermer la div*/
.popup {
  z-index: 1;
  position: absolute;
  width: 30vw;
  margin: 3rem auto;
  padding: 1rem;
}

#popup-heading {
  height: 10vh;
  color: #fff;
  background-color: var(--secondpurple);
}

#popup-title {
  height: 20vh;
  background-image: url("../img/popup.jpg");
  font-family: var(--fonttitle);
  text-align: center;
}
#popup-title h1 {
  color: #fff;
}
#popup-title h2 {
  color: #efab00;
  background-color: rgba(145, 163, 176, 0.7);
}

#popup-body {
  height: 35vh;
  background-color: #fff;
  border: 1px solid rgba(145, 163, 176, 0.7);
  overflow: scroll;
}
#popup-body ul {
  height: 30vh;
  margin: 0 auto;
}
#popup-body ul li {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

#popup-footer {
  background-color: rgba(145, 163, 176, 0.7);
}
#popup-footer a {
  border-radius: 1rem;
  color: #fff;
  background-color: var(--mainyellow);
  text-decoration: none;
}

/* une icone permettant de fermer la div popup */
.fa-window-close {
  position: relative;
  float: right;
  color: #fff;
  opacity: 0.7;
  margin: 0.2rem;
}
.fa-window-close:hover {
  scale: 1.1;
  opacity: 1;
}

#contactMe {
  width: 25vw;
  margin-top: 15rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
}

#name,
#email {
  width: 20vw;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
}

p label {
  color: var(--mainyellow);
}

textarea {
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
}

.submit {
  background-color: var(--mainyellow);
}

/* le footer */
footer {
  background-color: rgba(248, 249, 250, 0.9);
  height: 5rem;
  /* les icones de contacts */
}
footer a {
  text-decoration: none;
  color: var(--mainpurple);
}

@media only screen and (max-width: 468px) {
  label,
input,
.icon {
    width: 100%;
  }

  /* bannière et le descriptif */
  .about {
    width: 90vw;
    margin: 1rem auto;
    font-size: 1rem;
    border-radius: 0.5rem;
  }

  #popup {
    position: fixed;
    width: 100%;
  }

  #displayTechnos li {
    padding: 0.1rem;
    margin-top: 0;
  }
}
@media only screen and (max-width: 550px) {
  #popup {
    width: 80%;
  }
}
@media only screen and (max-width: 1200px) {
  #popup {
    width: 60%;
  }
}
@media only screen and (max-width: 1400px) {
  #popup {
    width: 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
