/* l'effet de scroll */
html {
 scroll-behavior: smooth;
}
/* création des variables des police et des couleurs */
:root{
  --mainpurple: #825E7A;
  --mainyellow: #efab00;
  --logored: #FF4F4F;
  --secondpurple: rgba(130, 126, 154, .9);
  --fonttitle: 'Archivo Black', sans-serif;
  --fonttext: 'Roboto', sans-serif;
}
body{
  font-family: var(--fonttext);
}
// navbar et logo
#navbarNav{
  margin-left: 6rem;
}
.logo-yummy{
  width: 7rem;
  margin: 0;
  padding: 0;
}
.navbar{
  background-color: rgba(248, 249, 250, .9);
  .navbar-toggler,
  .navbar-toggler-icon{
    color: var(--logored);
  }
  a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bolder;
  }
}
/* l'image du fond pour les sections à propos et contact-area */
#banner{
  background-image: url("../img/veggi-background.jpg");
}
#contact-area{
  background-image: url("../img/purple-background.jpg");
}
/* l'effet paralax pour deux images */
#contact-area,
#banner{
  min-height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* bannière et le descriptif */
.about{
  width: 35vw;
  background-color: rgba(255, 255, 255, .8);
  margin: 25rem auto .5rem;
  border-radius: 2rem;
  font-size: 1.1rem;
}
.logo-food{
  color: var(--mainyellow);
}
/* la barre de recherche: input #searchBar et icone de recherche */
#searchBar{
  height: 3rem;
  border: 1px solid var(--mainpurple);
  border-radius: 1rem;
  &:focus{
    outline: none;
  }
}
label,
input,
.icon{
  width: 30vw;
}
label{
  font-family: var(--fonttitle);
  font-size: 1.5rem;
}
.fa-search{
position: relative;
font-size: 1.5rem;
z-index: 1;
top: 3.4rem;
padding-right: .5rem;
color: var(--mainpurple);
}
/* Styliser les cartes */
.card-title{
  // height: 4rem;
}
.card{
  width: 30rem;
  border: 1px solid #91a3b0;
  border-radius: 1rem;
  &:hover{
    scale: 1.01;
  }
}
.card-img-top{
  border-radius: 1rem 1rem 0 0;
  height: 314px;
}
/* la div popup et ses différentes parties: heading, title, body, footeret une icone pour fermer la div*/
.popup{
  z-index: 1;
  position: absolute;
  width: 30vw;
  margin: 3rem auto;
  padding: 1rem;
}
#popup-heading{
  height: 10vh;
  color: #fff;
  background-color: var(--secondpurple);
  border-radius: 1rem 1rem 0 0;
}
#popup-title{
  height: 20vh;
  background-image: url("../img/popup.jpg");
  font-family: var(--fonttitle);
  text-align: center;
  h1{
    color: #fff;
  }
  h2{
    color: #efab00;
    background-color: rgba(145, 163, 176, .7);
  }
}
#popup-body{
  height: 35vh;
  background-color: #fff;
  border: 1px solid rgba(145, 163, 176, .7);
  overflow: scroll;
  ul{
    height: 30vh;
    margin: 0 auto;
    li{
      margin-top: .5rem;
      padding-top: .5rem;
    }
  }
}
#popup-footer{
  background-color: rgba(145, 163, 176, .7);
  border-radius: 0 0 1rem 1rem;
  a {
    border-radius: 1rem;
    color: #fff;
    background-color: var(--mainyellow);
    text-decoration: none;
  }
}
/* une icone permettant de fermer la div popup */
.fa-window-close{
  position: relative;
  float: right;
  color: #fff;
  opacity: .7;
  margin: .2rem;
  &:hover{
    scale: 1.1;
    opacity: 1;
  }
}
// le formulaire de contact
#contactMe{
  width: 25vw;
  margin-top: 15rem;
  border: 1px solid grey;
  border-radius: .5rem;
}
#name,
#email{
  width: 20vw;
  height: 3rem;
  border-radius: .5rem;
  background-color: rgba(255, 255, 255, .8);
}
p label{
    color: var(--mainyellow);
}
textarea{
  border-radius: .5rem;
  background-color: rgba(255, 255, 255, .8);
}
.submit{
  background-color: var(--mainyellow);
}
/* le footer */
footer{
  background-color: rgba(248, 249, 250, .9);
  height: 5rem;
/* les icones de contacts */
  a{
    text-decoration: none;
     color: var(--mainpurple);
  }
}
// media queries
// media spéciales pour les images des cartes qui se déforment beaucoup
@media (min-width: 250px) and (max-width: 349px) {
  #banner{
    min-height: 300px;
  }
  .card-img-top{
    height: 200px;
  }
  .card-body{
    // height: 15rem;
  }
  .card-text{
    margin: 0;
  }
}
@media (min-width: 350px) and (max-width: 400px){
.card{
  width: 25rem;
}
.card-img-top{
  height: 220px;
}
.card-body{
  // height: 15rem;
}
.card-text{
  margin: 0;
  }
}
@media (min-width: 401px) and (max-width: 550px){
.card{
  width: 25rem;
}
.card-img-top{
  height: 250px;
}
.card-body{
  // height: 15rem;
}
.card-text{
  margin: 0;
  }
}
@media (min-width: 551px) and (max-width: 1000px){
.card{
  width: 20rem;
}
.card-img-top{
  height: 210px;
}
.card-body{
  // height: 15rem;
}
.card-text{
  margin: 0;
  }
}
// fin des media spéciales cartes
@media (min-width: 250px) and (max-width: 550px) {
  label,
  input,
  .icon{
    width: 100%;
  }
  /* bannière et le descriptif */
  .about{
    width: 90vw;
    margin: 15rem auto;
    font-size: 1rem;
    border-radius: 1rem;
  }
  #popup{
    width: 100vw;
  }
  #popup-body,
  #popup-title,
  #popup-heading,
  #popup-footer{
    left: 0;
    width: 90vw;
    z-index: 2;
  }
  #displayTechnos li{
    padding: .1rem;
    margin-top: 0;
  }
  textarea,
  #name,
  #email{
    width: 100%;
  }
  #contactMe{
    width: 90%;
  }
  .logo-yummy img{
    width: 5rem;
  }
}

@media (min-width: 551px) and (max-width: 700px) {
  #popup{
    width: 90vw;
  }
  #popup-body,
  #popup-title,
  #popup-heading,
  #popup-footer{
    width: 80vw;
  }
  label,
  input,
  .icon{
    width: 90%;
  }
  .about{
    width: 80vw;
    font-size: 1rem;
  }
  #contactMe{
    width: 60%;
  }
  textarea,
  #name,
  #email{
    width: 100%;
  }
.logo-yummy img{
  width: 5rem;
}
}
@media (min-width: 701px) and (max-width: 900px) {
  #popup{
    width: 90vw;
  }
  #popup-body,
  #popup-title,
  #popup-heading,
  #popup-footer{
    width: 60vw;
    margin: auto;
  }
  label,
  input,
  .icon{
    width: 70%;
  }
  .about{
    width: 90vw;
    font-size: 1rem;
  }
  #contactMe{
    width: 80%;
  }
  textarea,
  #name,
  #email{
    width: 100%;
 }
 .logo-yummy img{
   width: 7rem;
 }
}
@media (min-width: 901px) and (max-width: 1200px) {
  #popup{
    width: 90vw;
  }
  #popup-body,
  #popup-title,
  #popup-heading,
  #popup-footer{
    width: 40vw;
    margin: auto;
  }
  .about{
    width: 80vw;
  }
  label,
  input,
  .icon{
    width: 60%;
  }
  #contactMe{
    width: 60%;
  }
  textarea,
  #name,
  #email{
    width: 100%;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1600px){
  #contactMe{
    width: 40%;
  }
  textarea,
  #name,
  #email{
    width: 90%;
  }
  .about{
    width: 70vw;
  }
}
